*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // inherit box-sizing of the body to all children elements
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  padding: 0;
}

#positive-ssl-logo {
  display: flex;
  justify-content: center;
  margin: 8rem 0 8rem 0;
}
