// ********************************************** FONTS
// Families
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Crimson Text', serif;

// Sizes
$font-text-sm: 1.2rem;
$font-text-md: 1.4rem;
$font-text-lg: 1.6rem;

// ********************************************** COLORS
$color-body: #fff;

$font-color-secondary: #e6795c;

$color-border-header: #e2e2e2;
