// ********************************************** MEDIA QUERIES
/*
phone tiny        = pt (    0px -  400px )
phone small       = ps (  401px -  600px )
phone             = ph (  601px -  800px )
tablet portrait   = tp (  801px - 1100px )
tablet landscape  = tl ( 1101px - 1300px )  
desktop           = de ( 1301px - 1600px )
big desktop       = bd ( 1601px - +      )
*/

// ********************************************** FONTS
// FONT FAMILIES
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Crimson Text', serif;

// BUTTONS
$font-button-bd: 1.4rem;

// HEADER - BD
$font-heading-main-title-bd: 10rem;
$font-heading-sub-title-bd: 1.77rem;
$font-text-box-title-bd: 2.7rem;
$font-text-box-text-bd: 1.7rem;
$font-contact-form-title-bd: 2.7rem;
$font-contact-form-input-bd: 1.6rem;
$font-contact-form-message-sent-bd: 1.6rem;
$font-contact-form-button-bd: 1.4rem;

// HEADER - TL
$font-text-box-title-tl: 2.5rem;
$font-text-box-text-tl: 1.5rem;

// HEADER - TP
$font-heading-main-title-tp: 6rem;
$font-heading-sub-title-tp: 1.05rem;
$font-text-box-title-tp: 2.1rem;
$font-text-box-text-tp: 1.2rem;
$font-contact-form-title-tp: 2.1rem;
$font-contact-form-input-tp: 1.3rem;
$font-contact-form-message-sent-tp: 1.4rem;
$font-contact-form-button-tp: 1.2rem;

// HEADER - PH
$font-heading-main-title-ph: 5.9rem;
$font-heading-sub-title-ph: 1.04rem;
$font-text-box-title-ph: 1.8rem;
$font-contact-form-title-ph: 1.8rem;

// HEADER - PT
$font-heading-main-title-pt: 4.9rem;
$font-heading-sub-title-pt: 0.85rem;
$font-text-box-title-pt: 1.8rem;
$font-text-box-text-tp: 1.1rem;

// SKILLS - BD
$font-skills-title-bd: 5rem;
$font-skills-category-bd: 2.6rem;
$font-skills-table-text-bd: 1.7rem;

// SKILLS - DE
$font-skills-category-de: 2.6rem;
$font-skills-table-text-de: 1.5rem;

// SKILLS - TL
// nothing changes from SKILL - DE

// SKILLS - TP
$font-skills-title-tp: 3rem;
$font-skills-category-tp: 2rem;
$font-skills-table-text-tp: 1.4rem;

// SKILLS - PH
$font-skills-title-ph: 4rem;
$font-skills-category-ph: 2.2rem;
$font-skills-table-text-ph: 1.5rem;

// SKILLS - PT
$font-skills-table-text-pt: 1.5rem;

// PROJECTS - TP
$font-projects-title-tp: 3rem;

// PROJECTS - PH
$font-projects-title-ph: 4rem;

// ********************************************** COLORS

$color-primary: #689eb8;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);

$color-secondary: #f3f4f6;
$color-secondary-light: lighten($color-secondary, 10%);
$color-secondary-dark: darken($color-secondary, 10%);

$color-tertiary: #a79b94;
$color-tertiary-light: lighten($color-tertiary, 10%);
$color-tertiary-dark: darken($color-tertiary, 10%);

$color-call-to-action: #eb6d4c;
$color-call-to-action-light: lighten($color-call-to-action, 30%);
$color-call-to-action-dark: darken($color-call-to-action, 10%);

$color-gray-light: #e5e5e5;
$color-gray-medium: #8a8a8a;
$color-gray-dark: #454545;

$color-font-light: #fafafa;
$color-font-dark: #2a2e39;

$color-background-light: #e5e5e5;
$color-background-medium: #8a8a8a;
$color-background-dark: #2a2e39;
