.btn {
  & // this meas the simple button (no pseudo-classes)
 {
    border: 1px solid rgba($color-call-to-action, 1);
    border-radius: 0.5rem;
    box-shadow: 5px 6px 8px rgba(#000, 0.6);
    cursor: pointer;
    font-size: $font-button-bd;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.1s linear;
  }

  &:hover {
    box-shadow: 12px 12px 12px rgba(#000, 0.5);
    transform: translateY(-3px); /* in relation to the link state */
  }

  &:focus {
    outline: none;

    &:active {
      transform: translateY(-1px); /* in relation to the link state*/
      box-shadow: 4px 4px 8px rgba(#000, 0.65);
    }
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s; /* this animation is for the main button. .75s is a delay for the animation */
    animation-fill-mode: backwards; /* automatically apply styles of the 0% (in moveInBottom animation) before the animation starts */
  }
}
