.language {
  &__main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    padding: 2.8rem 0 2.8rem 0;

    @include respond(desktop) {
      width: 65rem;
    }

    @include respond(laptop) {
      width: 65rem;
    }

    @include respond(tablet) {
      padding: 2rem 5rem;
      width: 60rem;
    }

    @include respond(phone) {
      padding: 2rem 5rem;
      width: 53rem;
    }

    @include respond(phone-small) {
      flex-direction: column;
      padding: 2.2rem 5rem;
      width: 100%;
    }

    .language {
      &__box {
        flex: 1;
      }

      &__name {
        font-family: $font-family-primary;
        font-size: $font-languages-name-db;
        margin: 0 0.25rem 0 0;

        @include respond(desktop) {
          font-size: $font-languages-name-de;
        }

        @include respond(laptop) {
          font-size: $font-languages-name-la;
        }

        @include respond(tablet) {
          font-size: $font-languages-name-ta;
        }

        @include respond(phone) {
          font-size: $font-languages-name-ph;
        }

        @include respond(phone-small) {
          font-size: $font-languages-name-ps;
        }
      }

      &__proficiency {
        font-family: $font-family-primary;
        font-size: $font-languages-proficiency-db;
        margin: 0 0.35rem 0 0;

        @include respond(desktop) {
          font-size: $font-languages-proficiency-de;
        }

        @include respond(laptop) {
          font-size: $font-languages-proficiency-la;
        }

        @include respond(tablet) {
          font-size: $font-languages-proficiency-ta;
        }

        @include respond(phone) {
          font-size: $font-languages-proficiency-ph;
        }

        @include respond(phone-small) {
          font-size: $font-languages-proficiency-ps;
        }
      }

      &__level {
        align-self: flex-end;
        display: flex;
        margin: -0.8rem 0 1.2rem 0;
      }

      &__spheres-container {
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 100%;
      }
    }
  }
}

.language__spheres-container {
  justify-content: center;
  margin: 0rem 0 0 0;

  @include respond(phone-small) {
    margin: 1.25rem 0 0 0;
  }
}

.sphere {
  border-radius: 10rem;
  height: 1.7rem;
  margin: 1.5rem 0.45rem 0 0.45rem;
  width: 1.7rem;

  &:first-child,
  &:last-child {
    margin: 1.5rem 0.35rem 0 0.35rem;

    @include respond(phone-small) {
      margin: 0 0.35rem 0 0.35rem;
    }
  }

  @include respond(desktop) {
    height: 1.5rem;
    width: 1.5rem;
  }

  @include respond(laptop) {
    height: 1.3rem;
    width: 1.3rem;
  }

  @include respond(tablet) {
    height: 1.1rem;
    width: 1.1rem;
  }

  @include respond(phone) {
    height: 1.2rem;
    width: 1.2rem;
  }

  @include respond(phone-small) {
    height: 1rem;
    margin: 0 0.35rem 0 0.35rem;
    width: 1rem;
  }
}

.active {
  background-color: $color-call-to-action;
  border: 1px solid $color-call-to-action;
}

.inactive {
  background-color: lighten($color-call-to-action, 30%);
  border: 1px solid lighten($color-call-to-action, 30%);
}
