[class*="coverflow__figure"] {
  backface-visibility: initial !important;
  opacity: 1 !important;
}

[class*="coverflow__coverflow"] {
  background-image: linear-gradient(
    to bottom,
    $color-gray-background-responsive-section,
    $color-gray-background-responsive-section,
    $color-gray-background-responsive-section,
    $color-white-carousel,
    $color-white-carousel,
    $color-white-carousel,
    $color-white-carousel,
    $color-white-carousel,
    $color-white-carousel
  );
}

[class*="coverflow__text"] {
  background-color: $color-call-to-action !important;
  color: $color-white-carousel;
  font-family: $font-family-primary !important;
  font-size: 1.3rem;
  font-weight: 700;
  height: 3rem;
  margin: 0;
  opacity: 1 !important;

  @include respond(desktop) {
    font-size: 1.2rem;
    height: 2.6rem;
  }

  @include respond(laptop) {
    font-size: 1.1rem;
    height: 2.4rem;
  }

  @include respond(phone) {
    font-size: 1rem;
    height: 2.2rem;
  }

  @include respond(phone-small) {
    font-size: 0.8rem;
    height: 2rem;
  }
}

[class*="coverflow__stage"] {
  height: 48rem;
}
