.contact-form {
  &__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 60rem;
    justify-content: center;
    margin: 10rem auto;
    width: 45rem;
    position: static;
  }

  &__title {
    align-self: center;
    color: $color-gray-light;
    font-family: $font-family-primary;
    font-size: $font-contact-form-title-bd;
    font-weight: 100;
    padding: 1.5rem 0 3rem 0;
  }

  &__name,
  &__email,
  &__message {
    color: $color-font-dark;
    font-family: inherit;
    font-size: $font-contact-form-input-bd;
    font-weight: 400;
    padding: 0.7rem 1.5rem;
    border: 1px solid rgba($color-gray-light, 0.7);
    border-radius: 20px;
    margin: 2.9rem 0;
    width: 100%;
    transition: all 0.2s ease-in-out;

    &:focus {
      outline: none;
      border: 1px solid rgba($color-call-to-action, 1);
    }
  }

  &__message {
    height: 20rem;
    resize: none;

    &-sent {
      opacity: 0;
      font-size: $font-contact-form-message-sent-bd;
    }
    &-sent--active {
      color: $color-call-to-action;
      font-size: $font-contact-form-message-sent-bd;
    }
  }
}

.btn--submit {
  align-self: flex-end;
  background-color: $color-call-to-action-dark;
  color: $color-secondary;
  margin: 1.5rem 0 0 0;

  &:hover {
    background-color: $color-call-to-action-light;
    color: $color-call-to-action;
  }
}
