// HEADER

.header {
  &__container {
    box-sizing: border-box;

    &--main {
    }

    &--sub {
      display: flex;
      flex-direction: row;

      @include respond(phone) {
        flex-direction: column;
      }
    }
  }
}
