.heading {
  &__container {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0 4.4rem 0;

    @include respond(desktop) {
      padding: 2rem 0 6.5rem 0;
    }

    @include respond(tablet) {
      padding: 3rem 0 9rem 0;
    }

    @include respond(phone) {
      padding: 3rem 0 9.2rem 0;
    }

    @include respond(phone-small) {
      padding: 3rem 0 10.5rem 0;
    }
  }

  &__glitch {
    display: flex;
    justify-content: center;
    overflow: visible;
    position: absolute;
    top: 6rem;
  }

  &__image {
    background-color: rgba($color-primary, 0.25);
    background-image: url("/images/cesar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 40px rgba($color-primary, 0.55);
    cursor: default;
    height: 17rem;
    margin: 0;
    opacity: 0.85;
    position: absolute;
    width: 17rem;
    z-index: 2;
    top: 0;

    &:nth-child(n + 2) {
      opacity: 0;
    }

    &:nth-child(n + 2) {
      animation-duration: 4.5s;
      animation-delay: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    &:nth-child(2) {
      background-color: transparent;
      background-blend-mode: none;
      animation-name: glitch-anim-1;
    }

    &:nth-child(3) {
      background-color: transparent;
      background-blend-mode: none;
      animation-name: glitch-anim-2;
    }

    &:nth-child(4) {
      background-color: transparent;
      background-blend-mode: none;
      animation-name: glitch-anim-3;
    }

    &:nth-child(5) {
      background-color: rgba($color-primary, 1);
      background-blend-mode: overlay;
      animation-name: glitch-anim-flash;
    }

    @include respond(desktop) {
      height: 14rem;
      width: 14rem;
    }

    @include respond(tablet) {
      height: 12rem;
      width: 12rem;
    }

    @include respond(phone-small) {
      height: 9.4rem;
      margin: 2rem 0 0 0;
      width: 9.4rem;
    }
  }

  &__title {
    cursor: default;
    display: flex;
    flex-direction: column;
    margin: 19rem 0 0 0;

    @include respond(desktop) {
      margin: 17rem 0 0 0;
    }

    @include respond(laptop) {
      margin: 16.4rem 0 0 0;
    }

    @include respond(tablet) {
      margin: 14rem 0 0 0;
    }

    @include respond(phone) {
      margin: 14rem 0 0 0;
    }

    @include respond(phone-small) {
      //padding: -4rem 0 0 0;
    }

    &--main {
      font-family: "Crimson Text", sans-serif;
      font-size: $font-heading-main-title-db;
      font-weight: 400;
      z-index: 2;

      @include respond(desktop) {
        font-size: $font-heading-main-title-de;
      }

      @include respond(tablet) {
        font-size: $font-heading-main-title-ta;
      }

      @include respond(phone-small) {
        font-size: $font-heading-main-title-ps;
      }
    }

    &--sub {
      font-family: "Open Sans", serif;
      font-size: $font-heading-sub-title-db;
      font-weight: 400;
      margin: -3.5rem 0 0 0;
      text-align: right;
      text-transform: uppercase;

      @include respond(desktop) {
        font-size: $font-heading-sub-title-de;
        margin: -2.5rem 0 0 0;
      }

      @include respond(tablet) {
        font-size: $font-heading-sub-title-ta;
        margin: -1.8rem 0 0 0;
      }

      @include respond(phone-small) {
        font-size: $font-heading-sub-title-ps;
        margin: -1.5rem 0 0 0;
      }
    }
  }
}
