.languages {
  &__container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16rem 0 50rem 0;
    z-index: -2;

    @include respond(desktop) {
      margin: 22rem 0 50rem 0;
    }

    @include respond(laptop) {
      margin: 12rem 0 50rem 0;
    }

    @include respond(tablet) {
      margin: 15rem 0 60rem 0;
    }

    @include respond(phone) {
      margin: 6rem 0 50rem 0;
    }

    @include respond(phone-small) {
      margin: 6rem 0 40rem 0;
    }
  }

  &__title {
    border-radius: 20px;
    color: $color-gray-medium;
    font-family: $font-family-primary;
    font-size: $font-languages-title-db;
    font-weight: 700;
    min-height: 100%;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transform: rotate(-90deg);
    width: 75rem;
    z-index: -1;

    @include respond(desktop) {
      font-size: $font-languages-title-de;
      width: 65rem;
    }

    @include respond(laptop) {
      font-size: $font-languages-title-la;
      margin: 4rem 0 3rem 0;
      width: 62rem;
    }

    @include respond(tablet) {
      font-size: $font-languages-title-ta;
      margin: 8rem 0 3rem 0;
    }

    @include respond(phone) {
      font-size: $font-languages-title-ph;
      margin: 8rem 0 3rem 0;
    }

    @include respond(phone-small) {
      font-size: $font-languages-title-ps;
      margin: 8rem 0 3rem 0;
    }
  }

  &__collection {
    height: 55rem;
    margin: -2rem 0 3rem 18.5rem;
    text-align: right;
    width: 45rem;

    @include respond(desktop) {
      margin: -5rem 0 3rem -28.5rem;
      height: 51rem;
    }

    @include respond(laptop) {
      margin: -2rem 0 4rem -40.5rem;
      height: 43rem;
    }

    @include respond(tablet) {
      margin: 2rem 0 2rem -25.5rem;
      height: 33rem;
    }

    @include respond(phone) {
      margin: 6rem 0 10rem -13.5rem;
      height: 26rem;
    }

    @include respond(phone-small) {
      margin: 2rem 0 3.2rem 9.5rem;
      height: 25rem;
    }
  }
}

.main-title {
  margin: -6rem 0 0 0;
  letter-spacing: 0.4rem;

  @include respond(desktop) {
    margin: -6rem 0 0 0;
  }

  @include respond(laptop) {
    margin: -5rem 0 0 0;
  }

  @include respond(tablet) {
    margin: -4rem 0 0 0;
  }

  @include respond(phone) {
    margin: -2rem 0 0 0;
  }

  @include respond(phone-small) {
    margin: 0 0 0 0;
  }
}
