.navbar {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 6px;

  &__logo {
    border-radius: 50%;
    cursor: pointer;
    height: 5.5rem;
    width: 5.5rem;
  }

  &__list-box {
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
  }

  &__list &__item:not(:last-child) {
    margin-right: 5.5rem;
  }

  &__item {
    font-weight: 700;
    cursor: pointer;

    &:hover {
      color: #eb6d4c;
    }
  }
}
