.projects {
  margin: 0 0 10rem 0;

  &__title {
    color: $color-font-dark;
    font-family: $font-family-primary;
    font-size: $font-projects-title-db;
    font-weight: 400;
    margin: 12rem 0 12rem 0;
    text-align: center;

    @include respond(laptop) {
      font-size: $font-projects-title-la;
    }

    @include respond(laptop) {
      margin: 10rem 0 7rem 0;
      font-size: $font-projects-title-ta;
    }

    @include respond(phone) {
      margin: 16rem 0 8rem 0;
      font-size: $font-projects-title-ph;
    }

    @include respond(phone-small) {
      margin: 16rem 0 8rem 0;
      font-size: $font-projects-title-ps;
    }
  }
}
