.skills {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__title {
    color: $color-font-dark;
    font-family: $font-family-header;
    font-size: $font-skills-title-db;
    font-weight: 100;
    margin: 22rem 0 9rem 0;

    @include respond(desktop) {
      font-size: $font-skills-title-de;
      margin: 22rem 0 9rem 0;
    }

    @include respond(laptop) {
      font-size: $font-skills-title-la;
      margin: 18rem 0 8rem 0;
    }

    @include respond(tablet) {
      font-size: $font-skills-title-ta;
      margin: 16rem 0 6rem 0;
    }

    @include respond(phone) {
      font-size: $font-skills-title-ph;
      margin: 16rem 0 8rem 0;
    }

    @include respond(phone-small) {
      font-size: $font-skills-title-ps;
    }
  }

  &__table {
    font-size: $font-skills-table-text-db;
    line-height: 3rem;

    @include respond(desktop) {
      font-size: $font-skills-table-text-de;
      line-height: 3rem;
    }

    @include respond(laptop) {
      line-height: 2.5rem;
    }

    @include respond(tablet) {
      line-height: 2rem;
    }

    @include respond(phone) {
      font-size: $font-skills-table-text-ph;
      line-height: 2.6rem;
    }

    @include respond(phone-small) {
      font-size: $font-skills-table-text-ps;
      line-height: 2.4rem;
    }
  }

  [class*='__table-row'] {
    display: flex;
    flex-direction: row;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  [class*='__table-cell'] {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50rem;
    height: 50rem;
    margin: 0 1.4rem;

    @include respond(desktop) {
      width: 43rem;
      height: 43rem;
      margin: 0 -1.5rem;
    }

    @include respond(laptop) {
      width: 38rem;
      height: 40rem;
      margin: 0 -1.5rem;

      &:first-child {
        margin-right: -8rem;
      }

      &:last-child {
        margin-left: -8rem;
      }
    }

    @include respond(tablet) {
      width: 35rem;
      height: 35rem;
      margin: 0 -1.5rem;

      &:nth-child(2) {
        margin: 0 -4rem;
      }

      &:first-child {
        margin-right: -8rem;
      }

      &:last-child {
        margin-left: -8rem;
      }
    }

    @include respond(phone) {
      width: 40rem;
      height: 36rem;

      &:nth-child(2),
      &:first-child,
      &:last-child {
        margin: 0 0 0 0;
      }
    }

    @include respond(phone-small) {
      width: 31rem;
      height: 31rem;
    }
  }

  &__icon {
    height: 7rem;
    margin: 0 0 3rem 0;
    width: 7rem;

    @include respond(laptop) {
      height: 5.5rem;
      margin: 0 0 3rem 0;
      width: 5.5rem;
    }

    @include respond(tablet) {
      height: 4rem;
      margin: 0 0 3rem 0;
      width: 4rem;
    }

    @include respond(phone) {
      height: 6rem;
      margin: 0 0 3rem 0;
      width: 6rem;
    }

    @include respond(phone-small) {
      height: 4.5rem;
      margin: 0 0 3rem 0;
      width: 4.5rem;
    }
  }

  &__category {
    font-family: $font-family-header;
    font-size: $font-skills-category-db;
    font-weight: 700;
    margin: 0 0 2rem 0;

    @include respond(laptop) {
      font-size: $font-skills-category-la;
      margin: 0 0 2rem 0;
    }

    @include respond(tablet) {
      font-size: $font-skills-category-ta;
      margin: 0 0 2rem 0;
    }

    @include respond(phone) {
      font-size: $font-skills-category-ph;
      margin: -2.5rem 0 3rem 0;
    }

    @include respond(phone-small) {
      font-size: $font-skills-category-ps;
      margin: -2.5rem 0 3rem 0;
    }
  }

  &__cell-content {
    padding: 0 12rem 0 12rem;
    text-align: justify;
    word-spacing: -2px;

    @include respond(laptop) {
      padding: 0 9.5rem 0 9.5rem;
      word-spacing: -0.5px;
    }

    @include respond(tablet) {
      padding: 0 8.5rem 0 8.5rem;
      word-spacing: -1.5px;
    }

    @include respond(phone) {
      padding: 0 5.5rem 0 5.5rem;
      word-spacing: -1.5px;
    }

    @include respond(phone) {
      padding: 0 4.5rem 0 4.5rem;
      word-spacing: -1.5px;
    }
  }
}
