.skills {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__title {
    color: $color-font-dark;
    font-family: $font-family-primary;
    font-size: $font-skills-title-bd;
    font-weight: 400;
    margin: 10rem 0 0 0;
  }

  &__table {
    font-size: $font-skills-table-text-bd;
    line-height: 3rem;
  }

  [class*='__table-row'] {
    display: flex;
    flex-direction: row;
  }

  [class*='__table-cell'] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 48rem;
    height: 48rem;
    margin: 0 14px;
  }

  &__icon {
    height: 8rem;
    margin: 0 0 1.5rem 0;
    width: 8rem;
  }

  &__category {
    font-size: $font-skills-category-bd;
    font-weight: 700;
    margin: 0 0 5rem 0;
  }

  &__cell-content {
    padding: 0 12rem 0 12rem;
    text-align: center;
    word-spacing: 0.6rem;
  }
}
